*{
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root{
    --text-light: rgb(243, 243, 243);
    --font-normal: 1.225rem;
    --text-blue: rgb(0, 102, 255);
    --text-orange: rgb(255, 98, 0);
}
.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/*Header*/
header{
    height: 50vh;
    background-image: url(header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
header nav{
    padding: 1rem;
}
header nav ul, .social ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    font-size: var(--font-normal);
}
header nav ul li a{
    color: var(--text-light);
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
}
header nav ul li a:hover{
    color: rgb(178, 178, 178);
}
header nav ul li a::after{
    content: "";
    height: 2px;
    background-color: var(--text-light);
    width: 0%;
    position: absolute;
    left: 0;
    bottom: -5%;
    transition: 0.3s;
}
header nav ul li a:hover::after{
    width: 100%;
}
.hamburger-container{
    display: none;
    align-self: center;
    position: relative;
    top: 0;
    left: 90%;
    
}
.hamburger{
    border: none;
    
    color: white;
    font-size: 2rem;
}
.hamburger-links{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(169, 169, 169, 0);
    box-shadow: 0px 0px 5px rgb(72, 72, 72);
}
.hamburger-links a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 0.2rem;
}
.hamburger-links a:hover{
    background-color: #53535370;
}


.name-socials{
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.my-name h1{
    color: var(--text-light);
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 0;
}
.social ul{
    margin: 1rem 0;
}
.social ul li a{
    color: var(--text-light);
    text-decoration: none;
    transition: 0.3s;
    border-radius: 50%;
}
.social li a{
    padding: 0.5rem;
    
}
.social li a:hover{
    box-shadow: 0px 0px 6px 4px lightgray;
    border-radius: 50%;
    color: lightgray;
}
#about{
    position: relative;
}
.profile-pic{
    width: 15rem;
    margin-top: -13vh;
    
}
.profile-pic img{
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 0 6px 2px var(--text-light);
    
}
#about p{
    
    width: 40%;
    font-size: var(--font-normal);
    font-weight: 500;
}
#about p span{
    color: var(--text-blue);
}

.sub-heading{
    color: var(--text-blue);
    font-size: 1.8rem;
    text-align: center;
    text-shadow: 0px 1px 2px rgb(71, 71, 71);
    font-weight: 600;
}
#skills{
    margin-top: 4rem;
    
}
.skills-container{
    width: 50%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.skill-outer{
    
    background-color: lightgrey;
    width: 10rem;
    border-radius: 0.5rem;
    
}
.skill-inner{
    display: flex;
    padding: 0.05rem 0.5rem;
    color: var(--text-light);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
#experience{
    margin-top: 4rem;
}
.timeline{
    margin: 2rem 0;
    position: relative;
    width: 75%;
}
.timeline-box{
    position: relative;
    width: 40%;
    left: 5%;
    margin: 4rem 0;
    text-align: right;
}
.timeline-box:nth-child(2n){
    left: 53%;
    text-align: left;
}
.timeline h3{
    color: var(--text-blue);
    margin: 0.25rem 0;
    font-size: 1.5rem;
}
.timeline h4{
    color: var(--text-orange);
    margin: 0.25rem 0;
}
.timeline span, .timeline p{
    color: rgb(80, 80, 80);
}
.timeline-box img{
    margin-left: 30%;
    width: 20%;
    float: left;
}
.timeline-box:nth-child(2n) img{
    margin-left: 0;
    margin-right: 30%;
    float: right;
}
.timeline-box::after{
    content: " ";
    background-color: lightgray;
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    position: absolute;
    top: 10%;
    right: -14.65%;
    z-index: 1;
}
.timeline-box:nth-child(2n)::after{
    left: -9%;
}
.timeline-divider{
    height: 80%;
    width: 0;
    border: 2px dashed rgb(103, 222, 252);
    position: absolute;
    left: 50%;
    top: 10%;
}
.timeline-traveller{
    position: sticky;
    top: 18%;
    transform: rotate(180deg);
    z-index: 2;
    
}
.timeline-traveller i{
    color: var(--text-blue);
    font-size: 1.8rem;
    transform: translateX(-50%);
    
}
.project-container{
    margin: 4rem 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
}
.project-container a{
    width:30%;
    min-width: 15rem;
    text-decoration: none;
    position: relative;
    border-radius: 2rem;
    transition: box-shadow 0.5s ease-in-out;
}
.project-container a:hover{
    box-shadow: 0px 0px 8px rgb(0, 191, 255);
}
.project-container a img{
    width: 90%;
    height: 20rem;
    object-fit: contain;
    
}
.project-details{
    color: var(--text-light);
    text-align: center;
    font-size: 1.2rem;
    padding-top: 20%;
    background-color: rgba(115, 115, 115, 0.692);
    position: absolute;
    height: 100%;
    top: 0;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    border-radius: 2rem;
}
.project-container a:hover .project-details{
    opacity: 1;
}

#contact{
    margin-top: 2rem;
    background: linear-gradient(135deg, #4facfe, #8e44ad);
    color: var(--text-light);
    padding: 2rem 0;
}
#contact h2:first-of-type{
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}
.form-address{
    margin: 2rem 0;
    padding: 0 4rem;
    display: flex;
    justify-content:space-around;
    gap: 4rem;
}
form{
    
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
    flex: 1;
    
}
form input, textarea{
    margin-bottom: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid var(--text-light);
    font-size: 1.4rem;
}
form input::placeholder, textarea::placeholder{
    color: rgba(60, 60, 60, 0.605);
}
button{
    background-color: rgba(0, 0, 0, 0);
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid var(--text-light);
    font-size: 1.4rem;
    color: var(--text-light);
    transition: all 0.3s;
    width: 20rem;
    align-self: center;
}
button:hover{
    background-color: var(--text-light);
    color: rgba(62, 57, 171, 0.63);
    
}
.address{
    flex: 1;
    font-size: 1.2rem;
}


/*Responsiveness*/
@media (max-width:600px){
    header{
        height: 40vh;
    }
    header nav{
        display: none;
    }
    .hamburger-container{
        display: inline-block;
    }
    .hamburger:hover{
        color: rgb(77, 77, 77);
    }
    .hamburger-container:hover .hamburger-links{
        display: block;
        right: 0;
        
    }
    .name-socials{
        padding-top: 1.5rem;
    }
    .my-name h1{
        font-size: 3rem;
    }
    .profile-pic{
        width: 12rem;
        margin-top: -10vh;
    }
    #about p{
        width: 80%;
    }
    .timeline-divider{
        left: 8%;
    }
    .timeline{
        width: 90%;
    }
    .timeline-box, .timeline-box:nth-child(2n){
        left: 20%;
        text-align: left;
        width: 70%;
    }
    .timeline-box img{
        display: none;
    }
    .timeline-box::after, .timeline-box:nth-child(2n)::after{
        left: -18%;
    }
    .form-address{
        flex-direction: column;
        padding: 0 1rem;
    }
}